.techTitle {
  text-align: center;
}

.technologiesSection {
  margin-bottom: 50px;
}

.technologiesSection h3 {
  margin: 25px auto 6px;
}

.technologiesImg {
  height: 70px;
  width: auto;
  padding: 10px 12px;
}

.technologiesUl {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.technologiesLi {
  list-style: none;
  border-radius: 50px;
}

.technologiesLi:hover {
  transition: all 1s ease-in-out;
  background-color: whitesmoke;
  border-radius: 50px;
}