.aboutMeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.aboutMeDiv {
  text-align: center;
  width: 80%;
  padding: 50px;
  border: 1px solid whitesmoke;
  margin-bottom: 1.5rem;
}

.h1 {
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
}

.aboutMeDiv p {
  line-height: 1.6rem;
}

/* media queries */

@media only screen and (max-width: 425px) {
  .aboutMeDiv {
    width: 95%;
    padding: 15px;
    margin-bottom: 1.5rem;
  }
  
}