.techTitle {
  text-align: center;
}


.technologiesImg {
  height: 70px;
  width: auto;
  padding: 10px 12px;
}

.technologiesUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style: none;
}