.contactSection {
  margin: 40px auto;
  text-align: center;
}

.contactLinks {
  margin-bottom: 40px;
}

.contactH2 {
  margin-bottom: 20px;
}

.contactImg {
  height: 66px;
  width: auto;
  padding: 5px;
}